<div class="login-container-form">
    <div class="form-container sign-up">
        <form>
            <h1>Create Account</h1>
            <span>Use your email for registration</span>
            <input type="text" placeholder="Name">
            <input type="text" placeholder="Email">
            <input type="password" placeholder="Password">
            <button class="large-button letter-spacing-1 uppercase">Sign up</button>
        </form>
    </div>
    <div class="form-container sign-in">
        <form>
            <h1>Sign in</h1>
            <span>Use your email to sign-in</span>
            <input type="text" placeholder="Email">
            <input type="password" placeholder="Password">
            <a href="#">Forgot Your Password?</a>
            <button class="large-button letter-spacing-1 uppercase">Sign in</button>
        </form>
    </div>
    <div class="toggle-container">
        <div class="toggle">
            <div class="toggle-panel toggle-left">
                <h1>Welcome Back!</h1>
                <p class="letter-spacing-1">Enter your personal details to use all of site features.</p>
                <button class="hidden large-button letter-spacing-1 uppercase" id="login">Sign in</button>
            </div>
        </div>
        <div class="toggle">
            <div class="toggle-panel toggle-right">
                <h1>Hello, Friend!</h1>
                <p class="letter-spacing-1">Register with your personal details to use all of site features.</p>
                <button class="hidden large-button letter-spacing-1 uppercase" id="register">Sign up</button>
            </div>
        </div>
    </div>
</div>
