<div class="container" id="container" #container>
    <div class="form-container sign-up" #signUp>
        <form [formGroup]="signUpForm" (ngSubmit)="signup()">
            <h1>Create Account</h1>
            <span>or use your email for registeration</span>
            <input type="text" formControlName="username" placeholder="Name">
            <div *ngIf="isUsernameSignUpInvalid()" [ngStyle]="{color: 'red', 'font-size': '12px'}">
                Userrname length should be greater than 3.
            </div>
            <input type="email" formControlName="email" placeholder="Email">
            <div *ngIf="isEmailSignUpInvalid()" [ngStyle]="{color: 'red', 'font-size': '12px'}">
                Invalid email format.
            </div>
            <input type="password" formControlName="password" placeholder="Password">
            <div *ngIf="isPasswordSignUpInvalid()" [ngStyle]="{color: 'red', 'font-size': '12px'}">
                Password length should be greater than 6.
            </div>
            <button type="submit">Sign Up</button>
        </form>
    </div>
    <div class="form-container sign-in" #signIn>
        <form [formGroup]="loginForm" (ngSubmit)="login()">
            <h1>Sign In</h1>
            <span>or use your email password</span>
            <input type="email" formControlName="email" placeholder="Email">
            <div *ngIf="isEmailLoginInvalid()" [ngStyle]="{color: 'red', 'font-size': '12px'}">
                Invalid email format.
            </div>
            <input type="password" formControlName="password" placeholder="Password">
            <div *ngIf="isPasswordLoginInvalid()" [ngStyle]="{color: 'red', 'font-size': '12px'}">
                Password length should be greater than 6.
            </div>
            <a href="#">Forget Your Password?</a>
            <button type="submit" [disabled]="!loginForm.dirty">Sign In</button>
        </form>
    </div>
    <div class="toggle-container">
        <div class="toggle">
            <div class="toggle-panel toggle-left">
                <h1>Welcome Back!</h1>
                <p>Enter your personal details to use all of site features</p>
                <button class="hidden" id="login" (click)="loginDetails()">Sign In</button>
            </div>
            <div class="toggle-panel toggle-right">
                <h1>Hello, Friend!</h1>
                <p>Register with your personal details to use all of site features</p>
                <button class="hidden" id="register" (click)="signUpDetails()">Sign Up</button>
            </div>
        </div>
    </div>
</div>